.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: dodgerblue;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1em;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

.Container {
  padding: 20px;
}

.Button {
  padding: 5px;
  font-size: 1em;
  margin-left: 5px;
  font-size: 0.875rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
